<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.dannis.cms.dal.db.CarMapper">
    <resultMap id="carMap" type="org.dannis.cms.dal.entity.CarEntity">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result property="brandId" column="brand_id" jdbcType="INTEGER"/>
        <result property="levelId" column="level_id" jdbcType="INTEGER"/>
        <result property="series" column="series" jdbcType="VARCHAR"/>
        <result property="structure" column="structure" jdbcType="VARCHAR"/>
        <result property="displacement" column="displacement" jdbcType="VARCHAR"/>
        <result property="emissionStandard" column="emission_standard" jdbcType="VARCHAR"/>
        <result property="gearbox" column="gearbox" jdbcType="VARCHAR"/>
        <result property="mileage" column="mileage" jdbcType="DOUBLE"/>
        <result property="registrationTime" column="registration_time" jdbcType="INTEGER"/>
        <result property="price" column="price" jdbcType="DOUBLE"/>
        <result property="lowestPrice" column="lowest_price" jdbcType="DOUBLE"/>
        <result property="priority" column="priority" jdbcType="INTEGER"/>
        <result property="remark" column="remark" jdbcType="VARCHAR"/>
        <result property="status" column="status" jdbcType="VARCHAR"/>
        <result property="createdOn" column="created_on" jdbcType="TIMESTAMP"/>
        <result property="createdBy" column="created_by" jdbcType="INTEGER"/>
        <result property="lastModifiedOn" column="last_modified_on" jdbcType="TIMESTAMP"/>
        <result property="lastModifiedBy" column="last_modified_by" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="allColumns">
		id,brand_id,level_id,series,structure,displacement,emission_standard,gearbox,mileage,registration_time,
		price,lowest_price,priority,remark,status,created_on,created_by,last_modified_on,last_modified_by
	</sql>

    <insert id="save" parameterType="org.dannis.cms.dal.entity.CarEntity" useGeneratedKeys="true" keyProperty="id">
		INSERT INTO t_cms_car(brand_id,level_id,series,structure,displacement,emission_standard,gearbox,mileage,
		registration_time,price,lowest_price,priority,remark,status,created_by)
		VALUES (#{brandId},#{levelId},#{series},#{structure},#{displacement},#{emissionStandard},#{gearbox},#{mileage},
		#{registrationTime},#{price},#{lowestPrice},#{priority},#{remark},#{status},#{createdBy})
	</insert>

    <delete id="delete" parameterType="java.lang.Integer">
		DELETE FROM t_cms_car
		WHERE id = #{id}
	</delete>

    <delete id="deleteByIds">
        DELETE FROM t_cms_car
        WHERE id IN
        <foreach collection="array" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

    <update id="update" parameterType="org.dannis.cms.dal.entity.CarEntity">
        UPDATE t_cms_car
        SET brand_id=#{brandId},level_id=#{levelId},series=#{series},structure=#{structure},displacement=#{displacement},
        emission_standard=#{emissionStandard},gearbox=#{gearbox},mileage=#{mileage},registration_time=#{registrationTime},
        price=#{price},lowest_price=#{lowestPrice},priority=#{priority},remark=#{remark},status=#{status},
        last_modified_by=#{lastModifiedBy}
        WHERE id = #{id}
    </update>

    <select id="query" resultMap="carMap">
        SELECT
        <include refid="allColumns"/>
        FROM t_cms_car
        WHERE id=#{id}
    </select>

    <select id="queryByPage" resultMap="carMap">
        SELECT
        <include refid="allColumns"/>
        FROM t_cms_car
        WHERE 1=1
        <if test="brandId != null and brandId != ''">
            AND brand_id = #{brandId}
        </if>
        <if test="levelId != null and levelId != ''">
            AND level_id = #{levelId}
        </if>
        <if test="series != null and series != ''">
            AND series = #{series}
        </if>
        <if test="structure != null and structure != ''">
            AND structure = #{structure}
        </if>
        <if test="gearbox != null and gearbox != ''">
            AND gearbox = #{gearbox}
        </if>
        ORDER BY priority ASC ,created_on DESC
        LIMIT #{offset},#{limit}
    </select>

    <select id="queryTotal" resultType="java.lang.Long">
		SELECT count(id)
		FROM t_cms_car
		WHERE 1=1
        <if test="brandId != null and brandId != ''">
            AND brand_id = #{brandId}
        </if>
        <if test="levelId != null and levelId != ''">
            AND level_id = #{levelId}
        </if>
        <if test="series != null and series != ''">
            AND series = #{series}
        </if>
        <if test="structure != null and structure != ''">
            AND structure = #{structure}
        </if>
        <if test="gearbox != null and gearbox != ''">
            AND gearbox = #{gearbox}
        </if>
	</select>
</mapper>